body.modal-open {
    overflow: hidden;
}

dialog#modal-dialog {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 50%;
    width: 80%;
    max-width: 80%;
    padding: 20px;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    background: #fff;
}

dialog#modal-dialog:not([open]) {
    display: none;
}

dialog#modal-dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

#close-btn {
    font-size: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    background: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    dialog#modal-dialog {
        width: 95%;
        padding: 10px;
    }

    dialog#modal-dialog h2,
    dialog#modal-dialog p {
        font-size: 14px;
    }

    #close-btn {
        font-size: 16px;
    }
}
